/**** Generals ****/
h1,h3,h2{
    font-size:18px;
}
/***** Header *****/
body > header{
    background:white;
}

body > header .fa{
    font-size: 22px;
    margin-top:30px;
    margin-right:5px;
    color:#999999;
}

body > header a > .fa:hover{
    color:#455560;
}

#socialNetworks{
    text-align:right;
}

    /*** Menubar ***/
    
.menubar{
    background:#ebecee;
}

.navbar {    
    margin-bottom: 0px;    
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar .navbar-inner {
    padding: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #e2e3e5;
    color: #737476;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: #e2e3e5;
    color: #737476;
}

.navbar-default .navbar-nav > li > a {
    color: #afb0b1;
}

.navbar-toggle {
    background-color:  #455560;    
    border: 1px solid #455560;    
}

.navbar-toggle .icon-bar {
    background:  #afb0b1;    
}

.navbar-brand {            
    padding: 8px;
}

#menu{
    margin-top:10px;
}

@media (min-width:768px){
        .navbar .nav {
            margin: 0;
            display: table;
            width: 100%;
        }

        .navbar .nav li {
            display: table-cell;
            width: 1%;
            float: none;
        }

        .navbar .nav li a {
            font-weight: bold;
            text-align: center;
            border-left: 1px solid rgba(255, 255, 255, .75);
            border-right: 1px solid rgba(0, 0, 0, .1);
        }

        .navbar .nav li:first-child a {
            border-left: 0;
            border-radius: 3px 0 0 3px;
        }

        .navbar .nav li:last-child a {
            border-right: 0;
            border-radius: 0 3px 3px 0;
        }
}
/**** End MenuBar ****/

/***** index *****/
body > section{
    background:#ebecee;
}

/**** Banner ****/
.carousel-control {
    opacity: 1;
    width: 3%;
    color:#bbc0c4;
}

.carousel-control.left {
    background-image: none;
    //background: #515f68;
}

.carousel-control.right {
    background-image: none;
    //background: #515f68;
    left: auto;
    right: 0;
}

.carousel-inner img{
    width:100%;
}
/**** End Banner ****/

.content{
    margin-left:0px;
    margin-right:0px;
    padding: 30px;
    background:white;
}
/**** End Index ***/

/***** Footer ******/
body > footer{
    background:#455560;
    color:white;
    padding:30px 10px;
    text-align:center;
}
body > footer a{
    color:white;
}
body > footer a:hover{
    color:#b3b3b3;
    text-decoration: none;
}
.copyright{
    color:#b3b3b3;
    font-size:18px;
}